.navbar-aclc {
    --bs-navbar-color: black;
    padding: 20px 0 15px 0;
    --bs-navbar-hover-color: black;
    --bs-navbar-active-color: #FF6D02;

    .nav-item {

        .nav-link {
            margin-right: 40px;
        }
       
    }
}